<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name ="log2console" xsi:type="Chainsaw" address="udp://127.0.0.1:7071"
      layout="${logger}, ${message}, ${callsite:className=true:fileName=false:includeSourcePath=false}, ${exception:stacktrace}">
    </target>

    <!--
    <target name ="filelog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log"
      layout="${level}, ${machinename}, ${exception:format=type}, ${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}, ${logger}, ${message}, ${exception:stacktrace}">
    </target>
    -->

  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo ="log2console" />
    <!--<logger name="*" minlevel="Warn" writeTo ="filelog" />-->
  </rules>

</nlog>