@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div ng-controller="mainController">
    <p ng-repeat="field in formFields">
        <input ng-if="field.type != 'checkbox'"
               dynamic-name="field.field_name"
               type="{{ field.field_type }}"
               placeholder="{{ field.field_name }}"
               ng-model="field.field_value"
               required>
        <span ng-show="myForm.{{field.field_name}}.$dirty && myForm.{{field.field_name}}.$error.required">Required!</span>
        <span ng-show="myForm.{{field.field_name}}.$dirty && myForm.{{field.field_name}}.$error.email">Not email!</span>
    </p>
    <button ng-disabled="myForm.$invalid">Submit</button> 
</div>*@
<body>

</body>