@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var myApp = angular.module('NaviaApp', []);
    myApp.controller('SubjectController', function ($scope, $http) {
        $scope.processing = false;
        $scope.suggestSubject = function () {
            $scope.processing = true;
            var scopes = [scope1.value, scope2.value, scope3.value, scope4.value, scope5.value];
            $scope.suggestedsubject = JSON.stringify({ 'Title': subject.value, 'TitlePL': subject.value, 'Description': description.value, 'DescriptionPL': description.value, 'Tags': tags.value, 'TagsPL': tags.value, 'Scope': scopes, 'ScopePL': scopes });
            $http.post('/api/subject', $scope.suggestedsubject).success(function (data, status, headers, config) {
                $scope.processing = false;
                alert("Sugestia tematu została wysłana");
            }).error(function (data, status, headers, config) {
                alert('Cos poszło nie tak');
            })
        }
        
    });
</script>

<body ng-app="NaviaApp">
    <div class="container" ng-controller="SubjectController">
        <div class="row clearfix">
            <div class="col-md-8 column">

                <h1>
                    Zaproponuj temat pracy dyplomowej
                </h1>
                <form role="form">
                    <div class="form-group">
                        <label for="subject">Temat</label><input class="form-control" id="subject">
                    </div>
                    <div class="form-group">
                        <label for="description">Opis</label>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="scope">Zakres</label>
                        <input class="form-control" id="scope1" style="margin-bottom:10px">
                        <input class="form-control" id="scope2" ng-show="count>=1" style="margin-bottom:10px">
                        <input class="form-control" id="scope3" ng-show="count>=2" style="margin-bottom:10px">
                        <input class="form-control" id="scope4" ng-show="count>=3" style="margin-bottom:10px">
                        <input class="form-control" id="scope5" ng-show="count>=4" style="margin-bottom:10px">
                        <p >
                            <button class="btn btn-success btn-xs" ng-click="count = count + 1" ng-hide="count==4">Dodaj nowy zakres</button>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="tags">Tagi <small>Słowa kluczowe oddzielone przecinkiem</small></label><input class="form-control" id="tags">
                    </div>
                    <button type="submit" ng-click="suggestSubject()" class="btn btn-success" ng-disabled="processing">Wyślij</button>
                </form>

            </div>
        </div>
    </div>
</body>


