@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 column">


                <h1>
                    Szczegóły temtu
                </h1>
                <h4><small>typ pracy:</small> magisterska</h4>
                <h4><small>status:</small> zapisy otwarte</h4>
                <h3>
                    Temat
                </h3>
                <p>
                    Jakiś temat pracy
                </p>
                <h3>
                    Promotor
                </h3>
                <p>
                    Jakiś mgr inż. promotor
                </p>
                <h3>
                    Opis
                </h3>
                <p>
                    jakis opis
                </p>
                <h3>
                    Zakres
                </h3>
                <p>
                    Jakiś zakres
                </p>
                <h3>
                    Słowa kluczowe
                </h3>
                <p>
                    Jakieś, słowa, kluczowe
                </p>
                <button type="submit" class="btn btn-success">Zapisz się</button>

            </div>
        </div>
    </div>
</body>

